            html,
            body {
            margin:0;
            padding:0;
            }
        /*footer{
            background-color:#ccc;
            text-align:center;
            color:white;
        }
        span a,span a:hover{
            color:white;
            text-decoration:none;
        }*/

        